* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background: cadetblue;
  color: black;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* this targets a within nav */

nav a {
  display: inline;
  text-align: right;
  padding: 5px 10px;
}

.img1 {
  background-image: url("./assets/images/portfolio-headshot.jpg");
}

.hero {
  display: flex;
  margin: 0;
  padding: 0;
}

.hero .subtitle {
  font-weight: bolder;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.hero img {
  width: 100%;
  z-index: 0;
}

main {
}

.text {
}

.container {
  display: flex;
  flex-direction: row;
}

#about-me {
}

.card {
  max-width: 40%;
  border: 10px solid cadetblue;
  margin: 20px;
  padding: 0px;
}

.card img {
  width: 100%;
}

.contactlinks {
  font-size: small;
  padding: 12px;
}
