* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.portfolio-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: cadetblue;
    color: black;
}

li {
    display: inline;
    text-align: right;
}

.subtitle {
    font-weight: bolder;
    font-size: large;
    text-align: right;
}

.hero {
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
}



.text {

}

.container {
    display: flexbox;
}

#about-me {

}

.card img {
    max-width: 1200px;
    min-width: 300px;
    border: 10px solid cadetblue;
    margin: 20px;
    padding: 0px;
}

.contactlinks {
    font-size: small;
    padding: 12px;
}
